.dashboard{
    background: white;
    width: 100%;
    height: 100%;
}
.title{
    text-align: center;
    /* padding: 2rem;*/
    font-size: 4rem; 
    
}
@media(min-width:550px){
    .title{
        text-align: center;
        padding: 2rem 0;
        font-size: 3rem; 
        
    }
}
