<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="text">
        <h2>ShadowTech</h2>
    </div>

    <div class="conteiner">

        <div class="img-p">
            <img class="imagen" src="img/img6.png" alt="">
        </div>

        <div class="detalle_producto">
            <h2>Razer BlackShark V2 X - Black</h2><br>
            <p>EL SONIDO DE LOS ESPORTS
                Haz frente a la competencia con unos cascos para Esports ligeros que se crecen ante la presión. Presentamos los Razer BlackShark V2 X: una amenaza triple por su sonido increíble, nitidez del micrófono superior y un aislamiento acústico inmejorable acreditado por profesionales.
            </p><br>
            <h3>Precio: $250.000</h3><br><br>

            <!-- <div class="container-quiantity">
                <input type="number" name="" id="" placeholder="1"  value="1" min="1"/>
            </div><br><br> -->

            <a class="comprar" href="">Añadir al carrito</a>
            
        </div>
    </div>
</body>
</html>
