.form{
    background: url("https://img.freepik.com/vector-gratis/fondo-pantalla-perspectiva-linea-sintetizador-retro-moda-efecto-humo_1017-43048.jpg?size=626&ext=jpg&ga=GA1.1.672697106.1718755200&semt=sph")no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    padding: 9rem 0 0 0;
}