<!-- <h1>New Product</h1>
<form>
    <div class="field">
        <label for="">Nombre Producto</label>
        <input type="text" name="name">
    </div>
    <div class="field">
        <label for="">Precio Producto</label>
        <input type="number" value="0" name="price">
    </div>
    <div class="field">
        <label for="">Cantidad</label>
        <input type="number" value="0" name="quantity">
    </div>
    <div class="field">
        <label for="">URL Imagen del producto</label>
        <input type="number" value="0" name="urlImage">
    </div>
    <div class="field">
        <label for="">Descripcion Producto</label>
        <textarea name="description"></textarea>
    </div>
    <div class="field">
        <label for="">Categoria del Producto</label>
        <select name="category">
            <option value="" *ngFor="let category of categories">{{ category.name }}</option>
        </select>
    </div>
    <div class="field">
        <button type="submit">Registrar</button>
        <button type="reset">Cancelar</button>
    </div>
</form> -->
